<%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>
	<h1 class="title">Create A Blog</h1>
	<form action="/blogs/create/new" method="GET">
		<span>Name: </span>
		<input type="text" name="name" id="name" />
		<span>Number: </span>
		<input type="text" name="number" id="number" />
		<span>Letter: </span>
		<input type="text" name="letter" id="letter" />
		<input type="submit" value="Send In The Wolves" />
	</form>
	<% if(name) { %>
	<h3><%= name%></h3>
	<%}%> <% if(number) { %>
	<h3><%= number%></h3>
	<%}%> <% if(letter) { %>
	<h3><%= letter%></h3>
	<%}%>
</body>
<%- include('./partials/foot.ejs') %>
